h1 {
    margin: 0 !important;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #6c757d;
	width: 100%;
	z-index: 4;
    color: white !important;
    height: 6vh;
    margin-top: 9vh;
}

.address {
    font-size: 10px;
}

/* unvisited link */
.link:link {
    color: white;
}

/* visited link */
.link:visited {
    color: white;
}

/* mouse over link */
.link:hover {
    color: white;
}

/* selected link */
.link:active {
    color: white;
}

.cellphone {
    font-size: 14px !important;
    margin-left: 2px;
}

@media screen and (max-width: 320px) {
    .address {
        font-size: 8px;
    }

    .cellphone {
        font-size: 10px !important;
    }
}
 
 @media screen and (min-width: 720px) {
    .address {
        font-size: 12px;
    }

    .navbar {
        height: 4vh;
        margin-top: 6vh;
    }

    .cellphone {
        font-size: 16px !important;
    }
}