.address {
    color: white !important;
}
 
@media screen and (min-width: 0px) {
    .address {
        font-size: 10px;
    }
}
 
 @media screen and (min-width: 720px) {
    .address {
        font-size: 20px;
    }
}