h1 {
    margin: 0 !important;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #6c757d;
	width: 100%;
	z-index: 4;
}

.address {
    color: white !important;
}
 
@media screen and (min-width: 0px) {
    .address {
        font-size: 8px;
    }

    .navbar {
        height: 6vh;
        margin-top: 9vh;
    }
}
 
 @media screen and (min-width: 720px) {
    .address {
        font-size: 12px;
    }

    .navbar {
        height: 4vh;
        margin-top: 6vh;
    }
}