.container {
    height: 90vh;
}

.header {
    padding-top: 20px;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.back {
    display: inline-block;
    flex: 1;
}

.title {
    display: inline-block;
}

.link {
    color:white;
}

.link:hover {
    color:white;
}

.horizontal-line {
    color: white;
    background-color: white;
    height: 5;
    margin-bottom: 20px;
}

.meal {
    display: flex;
}

.meal-image {
    max-height: 40vh;
}

.meal-info {
    margin-top: 20px;
}

.meal-title {
    margin-top: 10px;
    font-size: 1.5em;
    text-align: left;
    color: white;
    float: left;
    max-width: 75%;
    text-align: justify;
    text-justify: inter-word;
}

.meal-price {
    margin-top: 10px;
    font-size: 2em;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.meal-description {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    color: white;
    text-align: justify;
    text-justify: inter-word;
}