.slick-slide-image-highlight {
    max-width: 100%;
    height: 30vh;
    border-radius: 5px;
}

.slick-slide-image {
    max-width: 100%;
    height: 20vh;
    border-radius: 5px;
}

.slick-prev:before,
.slick-next:before {
    color: #777777;
}

.thumbnail-slider-wrap {
    position: fixed;
    bottom: 20px;
    max-width: 90%;
}

.thumbnail-slider-wrap .slick-track .slick-slide img {
    width: 90%;
}

.slick-prev {
    left: -4% !important;
    z-index: 1;
}

.slick-next {
    right: -7% !important;
    z-index: 1;
}