.container-margin {
    margin: 20px 0 0 0;
}

.cell-margin {
    border-color: transparent;
    margin: 0 0 20px 0;
}

.title {
    text-align: right;
    color: white;
    margin-top: 190px !important;
}

.horizontal-line {
    color: white;
    background-color: white;
    height: 5;
    margin-bottom: 40px;
}

.meal {
    color: white;
}

.meal-image {
    min-height: 300px;
    max-width: 1000px;
}

.meal-info {
    margin-top: 20px;
}

.meal-title {
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
}

.meal-price {
    font-size: 1.25em;
}

.meal-description {
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.carousel {
    max-height: 100px;
    margin: 0 -26px;
}

.card {
    margin: 0 26px;
}

.estupido {
    height: 1200px;
    background-color: white;
}

.top {
    top: 0;
}