.container {
    width: 100%;
    position: relative;
    background-color: #ffd24d;
    height: 85vh;
}

.landing {
    position: absolute;
    z-index: 1;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 85vh;
}

.welcome {
    font-family: "Airbnb Cereal App Extra Bold", georgia, serif;
    font-size: 40px;
    width: 100%;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    padding: 12.5px 40px;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: 1px 1px rgba(51, 50, 50, 0.1);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.button {
    background: transparent;
    color: white;
    border: 2px solid white;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 12.5px 40px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    // animate and time the transitions
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    z-index: 2;
}

.button:hover{
    background-color: white;
    color: #343a40;
    text-shadow: 0px 0px;
}

@media screen and (max-width: 320px) {
    .welcome {
        font-size: 2rem;
    }

    .button {
        font-size: 10px;
    }
}
 
 @media screen and (min-width: 720px) {
    .container {
        height: 90vh;
    }

    .landing {
        height: 90vh;
    }

    .welcome {
        font-size: 6rem;
    }

    .button {
        font-size: 20px;
    }
}