.container {
    width: 100%;
    height: 90vh;
    position: relative;
    background-color: #ffd24d;
}

.landing {
    position: absolute;
    z-index: 1;
    height: 90vh;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.text {
    width: 100%;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    padding: 12.5px 40px;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
    text-shadow: 2px 2px #d32d1b;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.button {
    background: transparent;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 12.5px 40px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    text-shadow: 2px 2px #d32d1b;

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    //animate and time the transitions
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    z-index: 2;
}

.button:hover{
    background-color: white;
    color: #d32d1b;
    text-shadow: 0px 0px;
}

@media screen and (min-width: 0px) {
    .text {
        font-size: 40px;
    }
}
 
 @media screen and (min-width: 720px) {
    .text {
        font-size: 60px;
    }
}