.container {
    height: 90vh;
}

.title {
    padding-top: 20px;
    text-align: right;
    color: white;
}

.horizontal-line {
    color: white;
    background-color: white;
    height: 5;
    margin-bottom: 20px;
}

.cell-margin {
    border-color: transparent;
    margin: 0 0 20px 0;
}