.title {
    text-align: right;
    color: white;
    padding-top: 40px;
}

.horizontal-line {
    color: white;
    background-color: white;
    height: 5;
    margin-bottom: 40px;
}

.cell-margin {
    border-color: transparent;
    margin-bottom: 20px;
}

.container {
    height: 85vh;
}

@media screen and (max-width: 320px) {
    .title {
        padding-top: 20px;
    }

    .horizontal-line {
        margin-bottom: 20px;
    }

    .cell-margin {
        margin: 0px;
    }
}
 
 @media screen and (min-width: 720px) {
    .title {
        padding-top: 60px;
    }

    .horizontal-line {
        margin-bottom: 60px;
    }

    .cell-margin {
        margin-bottom: 40px;
    }

    .container {
        height: 90vh;
    }
}