.cell-margin {
    border-color: transparent;
    margin: 0 0 20px 0;
}

.title {
    text-align: right;
    color: white;
    margin-top: 80px !important;
}

.horizontal-line {
    color: white;
    background-color: white;
    height: 5;
    margin-bottom: 40px;
}

.address {
    color: white !important;
}
 
@media screen and (min-width: 0px) {
    .address {
        font-size: 10px;
    }
}
 
 @media screen and (min-width: 720px) {
    .address {
        font-size: 20px;
    }
}