.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #343a40;
	width: 100%;
	height: 6vh;
	z-index: 5;
	position: fixed;
	top: 0;
}

.logo {
	max-height: 5vh;
}