.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #343a40;
	width: 100%;
	z-index: 5;
	position: fixed;
	top: 0;
	height: 9vh;
}

.logo {
	height: 9vh;
}
 
 @media screen and (min-width: 720px) {
    .navbar {
        height: 6vh;
    }

	.logo {
		height: 6vh;
	}
}