.navbar {
	position: fixed;
	top: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #343a40;
	width: 100%;
	max-height: 100px;
	z-index: 5;
}

.logo {
	max-height: 80px;
	margin: 10px;
}
