.header {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.back {
    display: inline-block;
    flex: 1;
}

.title {
    display: inline-block;
}

.link {
    color:white;
}

.link:hover {
    color:white;
}

.horizontal-line {
    color: white;
    background-color: white;
    height: 5;
}

@media screen and (min-width: 0px) {
    .header {
        padding-top: 40px;
    }

    .horizontal-line {
        margin-bottom: 40px;
    }

    .container {
        height: 85vh;
    }
}
 
 @media screen and (min-width: 720px) {
    .header {
        padding-top: 60px;
    }

    .horizontal-line {
        margin-bottom: 60px;
    }

    .container {
        height: 90vh;
    }
}