.header {
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-top: 40px;
}

.back {
    display: inline-block;
    flex: 1;
}

.link {
    color:white;
}

.link:hover {
    color:white;
}

.title {
    display: inline-block;
}

.horizontal-line {
    color: white;
    background-color: white;
    height: 5;
    margin-bottom: 40px;
}

.detail {
    height: 85vh;
}

.wrapper {
    color: white;
    max-width: 685.5px !important
}

.item {
    max-height: 62vh;
}

.image {
    width: 100%;
}

.card-description {
    background-color: #6c757d;
    min-height: 20vh;
    padding: 20px;
    margin-bottom: 20px;
}

.name {
    text-align: left;
}

.price {
    text-align: right;
}

.description {
    font-size: 16px;
    font-family: "Airbnb Cereal App Light", georgia, serif;
    text-align: justify;
}

@media screen and (max-width: 320px) {
    .header {
        padding-top: 20px;
    }

    .horizontal-line {
        margin-bottom: 20px;
    }

    .name {
        font-size: 24px;
    }

    .price {
        font-size: 24px;
    }

    .description {
        font-size: 12px;
    }
}
 
 @media screen and (min-width: 720px) {
    .header {
        padding-top: 60px;
    }

    .horizontal-line {
        margin-bottom: 60px;
    }

    .detail {
        height: 90vh;
    }

    .card-description {
        height: 30vh;
        margin-bottom: 40px;
    }
}